/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color:#000028;
  --title-color:#DB00FF;
  --accent-color:#FF0070;
  --shadow-title-color:var(--accent-color);
  --main-color:var(--accent-color);
  --description-color:var(--bg-color);
  --card-title-color:var(--bg-color);
  --card-bg-color:var(--accent-color);
  --card-text-color:#F1B2CE;
  --title-size:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --bg-pic:url(../images/cover-image-dark.png);
  --corner-space: 10px;
  --rec-top:10px;
  --rec-right:18px;
  --main-padding: 10px;
  --top-padding:40px;
  --content-margin:50px;
  --content-gap:20px;
  --pic-gap:10px;
} 

